*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
}
p {
	font-family: 'Roboto', sans-serif;
}

h2 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
.navbar{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 70px;
	z-index: 1;
}
.nav {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding:0px 10px 0px 0px;
}
.logo{
	flex: 1 1 auto;
	margin-left: 10%;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 32px;
}
.logo a{
	color: #fff;
	text-decoration: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.nav a{
	margin: 15px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
a:hover {
	color: aqua;
}
.banner1{
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-image: url("Images/globalwarming.jpg");
	background-size: cover;
	
}
.banner1 h2{
	padding-top: 190px;
	font-size: 35px;
}
.banner1 p{
	color: #fff;
	padding-top: 10px;
	font-size: 20px;
}
.about-area, .causes-area, .impacts-area, .solutions-area, .helpnow-area {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: 700px;
}
.about-area, .causes-area {
	background-color: black;
}
#slider {
	overflow: hidden;
	width: 400px;
	height: 600px;
}
#slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
}
@keyframes slider {
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%	;
	}
}
.slideshow{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	padding: 0px 10px 0px 10px;
}
.slideshow-item{
	width: inherit;
	height: inherit;
	position: absolute;
	opacity: 0;
	animation: cycleImages 30.2s infinite;
}

.slideshow-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	animation: zoom 30.2s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
	animation-delay: 0s;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
	animation-delay: 5s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
	animation-delay: 10s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img{
	animation-delay: 15s;
}
.slideshow-item-text {
	max-width: 50%;
	position: absolute;
	top: 25%;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	padding: 5rem 5rem;
}
.slideshow-item-text h5 {
	font-size: 3rem;
	font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 2.5rem;
}
.slideshow-item-text p {
	font-size: 1.6rem;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif';
	letter-spacing: 1px;
}
@keyframes cycleImages {
	25%{
		opacity: 1;
	}
	40%{
		opacity: 0;
	}
}
@keyframes zoom {
	100%{
		transform:  scale(1.3);
	}
}

@media screen and (max-width: 1000px) {
	.slideshow-item-text {
	max-width: 70%;
	padding: 3rem 1rem;
	}
	.slideshow-item-text h5{
		font-size: 2rem;
	}
}
@media screen and (max-width: 767px) {
	.slideshow-item-text {
        max-width: 100%;
        padding: 1rem;
        top: initial;
		transform: initial;
	}
	.slideshow-item-text h5{
		font-size: 1.5rem;
	}
	.slideshow-item-text p{
		font-size: 1rem;
	}
}