html{
	background-color: black;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h2, h5{
	color: white;
	font-family: 'Hind Siliguri', sans-serif;
}
p {
	color: white;
	font-family: 'Roboto', sans-serif;
}
/*Start of Navigation Bar */
nav{
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height:  9vh;
	background-color: rgba(0,0,0,0.7);
	font-family: 'Hind Siliguri', sans-serif;
	z-index: 1;
}
/* SaveGaia and EarthIcon */
.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.logo img {
	width: 10%;
}
.logo h2 a{
	color: white;
	font-size: 25px;
	text-decoration: none;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 40%;
}
.nav-links li {
	list-style: none;
}
.nav-links a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;
}
/*For Responsive Navigation bar */
.burger {
	display: none;
	cursor: pointer;
}
.burger div {
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px;
	transition: all 0.3s ease;
}
a:hover {
	color: aqua;
}
/* End of Navigation bar */
/* Start of Introduction */
.introduction{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image: url("Images/globalwarming.jpg");
	background-size: cover;	
}
.introduction h2{
	font-size: 35px;
	font-family: 'Hind Siliguri', sans-serif;
	color: white;
}
.introduction p{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	padding-top: 10px;
	font-size: 20px;
}
/* End of Introduction */
/* Start of About area */
.about-area{
	display: flex;
	flex-direction: row;
	height: 100vh;
}
.about-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 50%;
	padding: 5% 5%;
}
.about-area p{
	padding-top: 3%;
	font-size: 17px;
	width: 100%;
}
.about-area h2{
	font-size: 35px;
}
/* Slider Feature for About Portion */
.slider-container{
	display: flex;
	max-width: 50%;
	justify-content: center;
	align-items: center;
}
#slider {
    overflow: hidden;
	width: 50%;
	height: 85%;
}
#slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
figure img {
	width: 400px;
	height: 500px;
}
#slider figure img {
	width: 20%;
	float: left;
}
@keyframes slider {
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%	;
	}
}
/* End of About Portion */
/* Causes Portion */
/* Auto Slideshow with zoom feature */
.causes-area{
	width: 100%;
}
.slideshow{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	padding: 0px 10px 0px 10px;
}
.slideshow-item{
	width: inherit;
	height: inherit;
	position: absolute;
	opacity: 0;
	animation: cycleImages 30.2s infinite;
}

.slideshow-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	animation: zoom 30.2s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
	animation-delay: 0s;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
	animation-delay: 5s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
	animation-delay: 10s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img{
	animation-delay: 15s;
}
.slideshow-item-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 50%;
	position: absolute;
	top: 25%;
	bottom: 25%;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	padding: 3rem 2.5rem;
}
.slideshow-item-text h5 {
	font-size: 2rem;
	font-family: 'Hind Siliguri', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 1rem;
}
.slideshow-item-text p {
	font-size: 1.3rem;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}
@keyframes cycleImages {
	25%{
		opacity: 1;
	}
	40%{
		opacity: 0;
	}
}
@keyframes zoom {
	100%{
		transform:  scale(1.3);
	}
}
/* End of Causes Portion */
/* Impacts Portion */
.impacts-area{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
}
.impacts-text-box{
	display: flex;
	justify-content: center;
	max-width: 50%;
	padding: 0 4%;
	flex-direction: column;
}
.impacts-text-box h2{
	font-size: 50px;
	font-family: 'Hind Siliguri', sans-serif;
}
.impacts-text{
	color: #fff;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	padding-top: 2em;
	line-height: 1.5;
}
.youtubevideo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 2%;
	width: 100%;
}
.youtubevideo iframe {
	width: 100%;
	height: 50%;
	border: 0;
}
.impacts-summary-box{
	display: flex;
	flex-wrap: wrap;
}
.impacts-summary{
    position: relative;
    width: 33%;
    height: auto;
    float: left;
    /* change width to 100% for responsive*/
}
/* opacity with box feature */
.impacts-summary:hover .image {
    opacity: 0.5;
}
.impacts-summary:hover .summary-text-box {
    opacity: 1;
  }
.image {    
    opacity: 1;
    display: block;
	width: 100%;
	height: 660px;
	float: left;
    transition: .5s ease;
    backface-visibility: hidden;
}
.summary-text-box{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.summary-text{
    background-color: rgba(0,0,0,0.7);
    font-size: 16px;
    padding: 16px 32px;
  }
/* End of Impacts Portion */
/* Start of Solutions Portion */
.solutions-area{
	width: 100%;
	height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(Images/solutionbg.jpg);
    background-position: center;
    background-size: cover;
}
.solution-text-box{
    display: flex;
    height: 88%;
    align-items: center;
}
.solution-text, .cardarea{
	flex-basis: 50%;
	padding-left: 5%;
}
.solution-text h2{
	padding-bottom: 45px;
    font-size: 70px;
}
.solution-text p{
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}
/* Card with 'bouncing effect' feature */
.card h5{
	font-size: 15px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(Images/solution1.jpg);
}
.card2{
    background-image: url(Images/solution2.jpg);
}
.card3{
    background-image: url(Images/solution3.jpg);
}
.card4{
    background-image: url(Images/solution4.jpg);
}
.card5{
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(Images/donation.jpg);
}
.card6{
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)),url(Images/make-a-change.jpg);
}
/* Card 7,8,9 for Help Now Portion */
.card7{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(Images/everycenthelps.jpg);
}
.card8{
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(Images/amazon.jpg);
}
.card9{
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)),url(Images/austrailia.jpg);
}
.card10{
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(Images/india.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
/* Help Now Portion */
.helpnow-area {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(Images/make-a-change.jpg);
	background-size: cover;
	background-position: center	center;
}
.help-now-text h2{
	font-size: 50px;
	padding-bottom: 2%;
}
.help-now-text{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 2% 0;
}
.card-box{
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	float: left;
}
/* Button feature */
.button {
	background-color: #fff;
	border: none;
	border-radius: 24px;
	padding: 15px 0;
	width: 75%;
	color: black;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	cursor: pointer;
	transition: transform 0.5s;	
}
.button:hover{
	transform: translateY(-10px);
}
/* Responsive for all devices and browsers */
.footer {
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
label{
	color: white;
	font-family: 'Roboto', sans-serif;
}
.footer h2{
	padding-top: 2%;
	font-size: 50px;
}
.footer img {
	padding-top: 1%;
	width: 10%;
	height: auto;
}
.footer p {
	padding-top: 4%;
}
/* Responsive for tablet change font sizes and feature sizes*/
@media screen and (max-width: 1024px) {
	.nav-links {
		width: 60%;
	}
	.impacts-summary-box{
		width: 100%;
		height: 115vh;
	}
	.card{
		width: 120px;
		height: 160px;
	}
}
/* Responsive for Mobile, changing font and feature sizes*/
@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	/* navbar */
	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color:rgba(0,0,0,0.7);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		z-index: 2;
	}
	.nav-links li {
		opacity: 0;
	}
	.burger{
		display: block;
	}
	/* introduction */
	.introduction h2{
		font-size: 25px;
	}
	.introduction p{
		font-size: 15px;
	}
	/* about-area */
	.about-area p{
		font-size: 15px;
	}
	.about-area h2{
		font-size: 25px;
	}
	#slider {
		width: 60%;
		height: 70%;
	}
	.slideshow-item-text h5 {
		font-size: 1rem;
		font-family: 'Hind Siliguri', sans-serif;
		text-transform: uppercase;
		letter-spacing: 3px;
		margin-bottom: 1rem;
	}
	.slideshow-item-text p {
		font-size: 0.8rem;
		font-family: 'Roboto', sans-serif;
		letter-spacing: 1px;
	}
	/*impacts*/
	.impacts-text-box h2{
		font-size: 40px;
	}
	.impacts-text{
		font-size: 12px;
		padding-top: 2em;
		
	}
	.impacts-summary-box{
		width: 100%;
		height: 100%;
	}
	
	.impacts-summary{
		width: 100%;
	}
	.solution-text h2{
		font-size: 50px;
	}
	.solution-text p {
		font-size: 10px;
	}
	/* card size change */
	.card{
		width: 100px;
		height: 110px;
	}
	.help-now-text h2{
		font-size: 40px;
	}
	.card h5 {
		font-size: 12px;
	}
	/* button feature */
	.button {
		font-size: 15px;
	}
}
/* Responsive for mobile */
@media screen and (max-width: 600px) {
	.card{
		width: 80px;
		height: 90px;
	}
	.card h5 {
		font-size: 12px;
	}

}
/* Animate the navigation bar */
.nav-active{
	transform: translateX(0%);
}
@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);

	}
}
.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}